<app-navbar></app-navbar>
<div class="container">
    <mat-card class="card">
        <mat-card-title>WeatherList</mat-card-title>
        <mat-card-content>WeatherList provides realtime information on weather in the areas you care about.
            Simply search for a location based on its latituted and longitued, and you'll be served the latest
            weather data available.
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-title>Weather.gov</mat-card-title>
        <mat-card-content>All weather data is sourced from the National Weather Service. More information on the
            National Weather Service can be found at <a href="https://forecast.weather.gov">forecast.weather.gov</a>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-title>Technologies</mat-card-title>
        <mat-card-content>
            This application was developed with Angular 9, Java Spring Boot, and MongoDB.
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-title>The Developer</mat-card-title>
        <mat-card-content>If you enjoy this app, feel free to take a look at some of my other projects at <a
                href="https://github.com/maxxpersin">github.com/maxxpersin</a>.
        </mat-card-content>
    </mat-card>
</div>